<style>
    .options-container {
        display: flex;
        flex-direction:row;
        justify-content:space-evenly;
        column-gap: 20px;
        width: 100%;
        margin-bottom: 40px;
        margin-top: 40px;
        padding: 30px;
        border: 1px solid #666;
        border-radius: 0.5em;
        color: #fff;
    }
</style>

<div>
    <h1>Proyecto Final Backend</h1>
    <h6>CodeHouse / Backend 1 / Comision 70275 / Chiantore</h6>
    <hr>
    <h5 class="text-center">Opciones de vistas</h5>
    <hr>
    <div class="options-container">
        <div>
            <a href="/views/newproduct" class="btn btn-success btn-lg">Crear un Producto</a>
            <a href="/views/newuser" class="btn btn-warning btn-lg">Crear un Usuario</a>
            <a href="/views/setcart" class="btn btn-danger btn-lg">Setear un Carrito</a>
            <a href="/views/products" class="btn btn-info btn-lg">Ver lista de Productos</a>
            <a href="/views/cart/{{cart}}" class="btn btn-primary btn-lg">Ver contenido de Carrito</a>
        </div>
    </div>
</div>